.row-block {
    max-width: 106px;
}

.item-block {
    display: flex;
    justify-content: center;
}

.row-block-text {
    color: #002f34;
    font-size: 16px;
    font-weight: 500;
}

.row-img {
    border-radius: 50%;
    display: flex;
    width: 88px;
    margin-bottom: 19px;
}

.href-style-text {
    text-decoration: none;
}


.row-block-text:hover {
    background-color: #002f34;
    color: white;
}

.cars-color {
    background-color: rgb(255, 86, 54);
}

.zapchsty-color {
    background-color: rgb(255, 246, 217);
}

.work-color {
    background-color: rgb(206, 221, 255);
}

.animals-color {
    background-color: rgb(200, 248, 246);
}

.house-garden-color {
    background-color: rgb(255, 214, 201);
}

.electronic-color {
    background-color: rgb(255, 206, 50);
}

.business-color {
    background-color: rgb(206, 221, 255);
}

.rent-content {
    background-color: rgb(200, 248, 246);
}

.fashion-color {
    background-color: rgb(255, 214, 201);
}

.hobbies-color {
    background-color: rgb(255, 246, 217);
}

.free-color {
    background-color: rgb(58, 119, 255);
}

.swap-color {
    background-color: rgb(35, 229, 219);
}

.car-for-war-color {
    background-color: rgb(255, 86, 54);
}

.school-color {
    background-color: rgb(255, 246, 217);
}

.for-victory-color {
    background-color: rgb(206, 221, 255);
}