.head-content-box {
    display: flex;
    justify-content: center;
    height: 110px;
    padding: 10px;
}

.grid-main-content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(9, 9%);
    text-align: center;
    justify-content: center;
    row-gap: 40px;
}
