.head-content-box {
    display: flex;
    justify-content: center;
}


/*.content-wrapper {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    min-width: 140px;*/
/*    margin-bottom: 10px;*/
/*    text-align: center;*/
/*}*/

.grid-main-content {
    display: grid;
    grid-template-columns: repeat(9, 8%);
    text-align: center;
}
