.main-head-box {
    display: flex;
    background: #002f34;
    color: #fff;
    font-weight: 500;
    font-family: Arial, sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2em;
    flex: 1;
}

.header-box {
    display: flex;
    flex: 1;
}

.sticker-head-box {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.head-img-olx {
    height: 70px;
    width: 70px;
}

.header-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    flex: 5 ;
}