.main-footer {
    background-color: #cbf7ee;
}

.grid-container-img {
    display: grid;
    padding: 70px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}
.olx-img {
    width: 99px;
    height: 56px;
    grid-column: 2;
    justify-self: center;
}

.main-text {
    font-family: "Arial", Helvetica, sans-serif;
    color: #002f34;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

}

.small-text {
    color: #687981;
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}